.section {
    position: relative;
    overflow: hidden;
    background-color: color-mix(in srgb, var(--color-void) 25%, transparent);
    color: var(--color-muted);
    padding: 3rem 1.5rem 6rem;
    text-align: center;
}

.container {
    margin: auto;
    padding: 2rem 4rem 20rem;
}

.content {
    margin: auto;
    text-align: center;
}

.eyebrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 20rem;
    font-size: var(--text-xs);
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--color-ghost);
    padding: 0.3rem 0.8rem;
    border: 1px solid var(--color-border);
    border-radius: 9999px;
    background: var(--color-secondary);
}

.eyebrow svg {
    color: var(--color-accent);
}

.title {
    margin-top: 2rem;
    text-wrap: balance;
    font-size: var(--text-4xl);
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: 0.5;
    color: var(--color-snow);
}

.highlight {
    display: block;
    color: var(--color-primary);
}

.slogan {
    margin: 2.5rem auto auto;
    font-size: var(--text-base);
    line-height: 1.6;
}

.actions {
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.link {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.75rem;
}

.linQuote {
    background-color: var(--color-primary);
    color: var(--color-background);
    transition-property: translate, box-shadow;
    transition-duration: 200ms;
}

.linQuote:hover {
    translate: 0rem -0.125rem;
    box-shadow: 0px 5px 20px var(--color-vodka);
}

.linkReview {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
    transition-property: background-color;
    transition-duration: 250ms;
}

.linkReview:hover {
    background-color: var(--color-hover);
}

/* sm */
@media (width >= 40rem) {
    .title {
        font-size: var(--text-5xl);
    }

    .slogan {
        font-size: var(--text-lg);
    }
}

/* md */
@media (width >= 48rem) {
    .actions {
        flex-direction: row;
    }
}

/* lg */
@media (width >= 64rem) {
    .title {
        font-size: var(--text-6xl);
    }
}